.password-container-wrapper {
    background-image: url('../assets/password.jpg'); /* Replace 'background-image.jpg' with the actual image file name and path */
    background-repeat: no-repeat;
    background-size: cover;
    /* Additional properties to control the background image appearance */
  }

  .password-custom-card {
    background-color:teas; /* Set your desired card background color */
    border-radius: 16px; 
    box-shadow: 0 4px 30px rgba(71, 71, 71, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .custom-button {
    background-color: #42e4f3; /* Set your desired button background color */
    color: rgb(28, 26, 28); /* Set the text color */
    width: 150px;
    /* Additional styles for the button */
  }
  
  .custom-button:hover {
    background-color: #8e47c7; /* Set your desired button background color on hover */
    /* Additional styles for the button on hover */
  }