/* Styles for the header-navbar */
.header-navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color:white; /* Dark background color */
  color:black; /* White text color */
}

/* Styles for the dropdown toggle button */
.header-navbar .dropdown-toggle {
  padding: 0;
  background-color: transparent;
  border: none;
  color: black; /* White text color for dropdown toggle */
}

/* Styles for the dropdown menu */
.header-navbar .dropdown-menu {
  min-width: 160px;
  background-color: #343a40; /* Dark background color for dropdown menu */
  color: #fff; /* White text color for dropdown menu */
}

/* Styles for dropdown items */
.header-navbar .dropdown-item {
  padding: 8px 16px;
  color: #fff; /* White text color for dropdown items */
}

/* Styles for dropdown dividers */
.header-navbar .dropdown-divider {
  margin: 4px 0;
  background-color: #fff; /* White background color for dropdown dividers */
  border-color: #fff; /* White border color for dropdown dividers */
}

/* Styles for the title in the header */
.header-title {
  font-size: 18px;
  margin: 0 auto;
}