/* Styles for the sidebar */
.side-navbar {
  background-color: #36393b;
  width: 230px;
  height: 100%;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 51px; /* Adjust the top margin to create the desired gap */
}
  
  .side-navbar .row {
    margin-bottom: 10px;
  }
  
  .side-navbar .nav-link-row {
  
    flex-direction: column;
  }
  
  .side-navbar .nav-link-title {
    color: white;
    font-weight: bold;
    display: flex;
    
    margin-bottom: 10px;
  }
  
  .side-navbar .nav-link {
    color: white;
    
   
   
  }
  
  .side-navbar .nav-link-icon {
    margin-right: 5px;
  }
  
  .side-navbar .nav-link:hover  {
    color: rgb(19, 211, 192); 
    background-color: rgb(8, 31, 41);/* Change to your desired color */
  }
  
  